<template name="mainPage">
    <section class="hero has-text-centered">

        <div class="slides slide1"></div>
        <div class="slides slide2"></div>

        <div class="bg-fade left"></div>
        <div class="bg-fade right"></div>
        <div class="bg-fade top"></div>
        <div class="bg-fade bottom"></div>

<!--        <a href="#" class="stop-music">-->
<!--            <img src="/images/tdvr_wordmark_white.png" alt="">-->
<!--        </a>-->

        <h1 class="title">The District</h1>

        <h2 class="slogan">Ready for the future?</h2>
        <h2 class="coming-soon">Coming soon</h2>

    </section>
    <section>
        {{> newsletter}}

        <br><br>
    </section>
</template>
