body {
  background: #000;
}

#threejs-container {
  width: 100vw;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

#loader {
  z-index: 3000;
  position: absolute;
  background: #000;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: transform 2.5s;
  align-items: center;

  &.hidden {
    transform: translate3d(0, -150%, 0);
  }

  video {
    width: 230px;
    height: auto;
  }

  img {
    max-width: 200px;
    height: auto;
  }

  h1.main-logo {
    display: none;
    font-family: Turret Road, sans-serif;;
    text-align: center;
    font-size: 6vh;
    line-height: 5.1vh;
    text-transform: uppercase;
    animation: logoanimation 6s infinite;

    span {
      display: block;

      &.glow {
        font-family: Space Grotesk, sans-serif;
        font-weight: bold;
        text-shadow: 0 0 10px #fff;
      }
    }
  }
}

@keyframes logoanimation {
  0% {
    transform: rotateY(0deg);
    text-shadow: 0 0 30px var(--color-primary), 0 0 15px var(--color-primary);
  }
  50% {
    transform: rotateY(360deg);
    text-shadow: 0 0 30px var(--color-secondary), 0 0 15px var(--color-secondary);
  }
  100% {
    transform: rotateY(0deg);
    text-shadow: 0 0 30px var(--color-primary), 0 0 15px var(--color-primary);
  }
}