div.footer {
  min-height: 300px;
  background-color: #02FF1Bdd;
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 30px 10px;
  justify-content: center;
  box-shadow: 0 0 10px var(--color-primary);

  .social-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  a.button {
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 100px;
    padding: 0;
    display: inline-block;
    box-shadow: inset 0 0 10px #0009, inset 3px 10px 10px #ffffff;
    margin: 10px;
    transition: transform 0.5s;

    width: 100px;
    height: 100px;
    line-height: 100px;

    &::before {
      height: 0 !important;
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  .byline {
    padding-top: 30px;
    color: #444;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 2px;

    > div:first-of-type {
      text-align: left;
    }

    > div:last-of-type {
      text-align: right;
    }

    a {
      color: #444;

      &:visited,
      &:hover {
        color: var(--color-secondary);
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  div.footer {
    padding: 30px;

    a.button {
      font-size: 16px;
      font-weight: 400;
      line-height: 120px;
      letter-spacing: 0.1px;
      width: 120px;
      height: 120px;
      margin: 0 15px;
    }

    .byline {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
    }
  }
}
