<template name="footer">

    <footer>
        <div class="container">
            <div class="columns">
                <div class="column is-one-third has-text-left-tablet has-text-left-desktop">
                    <div class="columns is-flex-mobile">
                        <div class="column">
                            <a href="/imprint">Imprint</a>
                            <a href="/privacy">Privacy Policy</a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-third is-hidden-mobile middle">
                    <a href="https://etherscan.io/token/0xA8b919680258d369114910511cc87595aec0be6D" target="_blank" class="logo">
                        <img src="/images/thedistrict_logo.png" alt="LUKSO logo">
                    </a>
                </div>
                <div class="column is-one-third has-text-right-tablet has-text-right-desktop">
                    <div class="social-media">
                        <a href="https://twitter.com/lukso_io" class="twitter" target="_blank">
                            <img src="/images/sm/social-twitter.png" alt="twitter">
                        </a>
                        <a href="https://instagram.com/lukso" class="instagram" target="_blank">
                            <img src="/images/sm/social-instagram.png" alt="instagram">
                        </a>
                        <a href="https://linkedin.com/company/lukso" class="linkedin" target="_blank">
                            <img src="/images/sm/social-linkedin.png" alt="linkedin">
                        </a>
                        <a href="https://medium.com/lukso" class="medium" target="_blank">
                            <img src="/images/sm/social-medium.png" alt="medium">
                        </a>
                        <a href="https://github.com/lukso-network" class="github" target="_blank">
                            <img src="/images/sm/social-github.png" alt="github">
                        </a>
                        <a href="https://t.me/LUKSO" class="telegram" target="_blank">
                            <img src="/images/sm/social-telegram.png" alt="telegram">
                        </a>
                        <a href="https://discord.gg/E2rJPP4" class="discord" target="_blank">
                            <img src="/images/sm/social-discord.png" alt="discord">
                        </a>
                        <a href="https://reddit.com/r/lukso" class="reddit" target="_blank">
                            <img src="/images/sm/social-reddit.png" alt="reddit">
                        </a>
                    </div>
                    <div class="email">
                        <a href="mailto:hello@thedistrict.world">hello@thedistrict.world</a>
                    </div>
                    <small>
                        Proof of Taste GmbH © 2021
                        <br>
                        All rights reserved.
                    </small>
                </div>
            </div>
            <div class="is-hidden-desktop is-hidden-tablet">
                <a href="https://etherscan.io/token/0xA8b919680258d369114910511cc87595aec0be6D" target="_blank" class="logo">
                    <img src="/images/lukso_token_logo.png" alt="LUKSO logo">
                </a>
            </div>
        </div>
    </footer>
</template>
