<template name="navBar">
    <nav class="main">
        <div class="container">
            <div class="columns is-flex-mobile">
                <div class="column is-one-quarter-mobile is-primary">
                    <a href="/">
<!--                        <img src="/images/lukso_wordmark_black.png" alt="PoT logo">-->
                    </a>
                </div>
                <div class="column is-primary">
                    <div class="menu">
<!--                        <a href="/primer">Primer</a>-->
<!--                        <a href="/about">About</a>-->
<!--                        <a href="/multiverse">Multiverse</a>-->
<!--                        <a href="https://rico.lukso.network/faq" target="_blank">FAQs</a>-->
                    </div>
                </div>
            </div>
        </div>
    </nav>
</template>
